{# templates/emails/registration.html.twig #}
<h3>Félicitation</h3>

Bonjour {{ name }}! Vous avez été accepté pour ce poste <a href="{{ url('login') }}">...</a>

<p>
    Vous commencerez votre travail
</p>
<h5>
    le jour 5 du mois prochain.
</h5>
<h4>
    Merci pour votre confiance!
</h4>
{#<img src="{{ absolute_url(asset('images/logo.png')) }}">#}