{% extends 'base.html.twig' %}
{% block content %}
    <div class="main-content">
    <section id="gallery" class="">
        <div class="container">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase mt-0 line-height-1">Gallery</h2>
                        <div class="title-icon">
                            <img class="mb-10" src="images/title-icon.png" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Works Filter -->
                    <div class="portfolio-filter font-alt text-center">
                        <a href="#" class="active" data-filter="*">All</a>
                        <a href="#dental" class="" data-filter=".dental">Dental</a>
                        <a href="#surgery" class="" data-filter=".surgery">Surgery</a>
                        <a href="#laboratory" class="" data-filter=".laboratory">Laboratory</a>
                    </div>
                    <!-- End Works Filter -->
                    <!-- Portfolio Gallery Grid -->
                    <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery" style="position: relative; height: 659.312px;">
                        <!-- Portfolio Item Start -->
                        <div class="gallery-item dental" style="position: absolute; left: 0px; top: 0px;">
                            <div class="thumb">
                                <img alt="project" src="{{ asset('assets/front/images/gallery/gallery-md1.jpg') }}" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg1.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item photography" style="position: absolute; left: 239px; top: 0px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md2.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg2.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item surgery" style="position: absolute; left: 479px; top: 0px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md3.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg3.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item laboratory" style="position: absolute; left: 0px; top: 164px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md4.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg4.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item dental" style="position: absolute; left: 239px; top: 164px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md5.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg5.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item surgery" style="position: absolute; left: 479px; top: 164px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md6.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg6.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item photography" style="position: absolute; left: 0px; top: 329px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md7.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg7.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item laboratory" style="position: absolute; left: 239px; top: 329px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md8.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg8.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item surgery" style="position: absolute; left: 479px; top: 329px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md9.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg9.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item dental" style="position: absolute; left: 0px; top: 494px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md10.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg10.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item photography" style="position: absolute; left: 239px; top: 494px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md11.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg11.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->

                        <!-- Portfolio Item Start -->
                        <div class="gallery-item laboratory" style="position: absolute; left: 479px; top: 494px;">
                            <div class="thumb">
                                <img alt="project" src="assets/front/images/gallery/gallery-md12.jpg" class="img-fullwidth">
                                <div class="overlay-shade"></div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="assets/front/images/gallery/gallery-lg12.jpg" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio Item End -->
                    </div>
                    <!-- End Portfolio Gallery Grid -->

                </div>
            </div>
        </div>
    </section>
    <section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="assets/front/images/bg/bg2.jpg" data-parallax-ratio="0.7" style="background-image: url(&quot;images/bg/bg2.jpg&quot;); background-position: 50% -649px;">
        <div class="container pt-60 pb-60">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-smile mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="1754" class="animate-number text-white font-42 font-weight-500 appeared">1,754</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Happy Patients</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-rocket mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="675" class="animate-number text-white font-42 font-weight-500 appeared">675</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Our Services</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-add-user mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="248" class="animate-number text-white font-42 font-weight-500 appeared">248</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Our Doctors</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-global mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="24" class="animate-number text-white font-42 font-weight-500 appeared">24</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Service Points</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="departments" data-bg-img="images/pattern/p4.png" style="background-image: url(&quot;images/pattern/p4.png&quot;);">
        <div class="container">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase mt-0 line-height-1">Our Departments</h2>
                        <div class="title-icon">
                            <img class="mb-10" src="assets/front/images/title-icon.png" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                    </div>
                </div>
            </div>
            <div class="section-centent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="services-tab border-10px bg-white">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab11" data-toggle="tab"><i class="flaticon-medical-xray2"></i><span>Orthopedic</span></a></li>
                                <li><a href="#tab12" data-toggle="tab"><i class="flaticon-medical-heart36"></i><span>Cardiology</span></a></li>
                                <li><a href="#tab13" data-toggle="tab"><i class="flaticon-medical-brain9"></i><span>Neurology</span></a></li>
                                <li><a href="#tab14" data-toggle="tab"><i class="flaticon-medical-teeth1"></i><span>Dental</span></a></li>
                                <li><a href="#tab15" data-toggle="tab"><i class="flaticon-medical-hospital35"></i><span>Urology</span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab11">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="service-content ml-20 ml-sm-0">
                                                <h2 class="title mt-0">Orthopaedic</h2>
                                                <p class="lead">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid molestias.</p>
                                                <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                                <div class="row mt-30 mb-20">
                                                    <div class="col-sm-6">
                                                        <ul class="mt-10">
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Qualified Doctors</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Emergency Service</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> General Medical</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul class="mt-10">
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Cardio Monitoring</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Outdoor Checkup</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> 24 Hour Service</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a class="btn btn-lg btn-dark btn-theme-colored" href="#">View Details</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="thumb">
                                                <img class="img-fullwidth" src="assets/front/images/services/1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab12">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="service-content ml-20 ml-sm-0">
                                                <h2 class="title mt-0">Cardiology</h2>
                                                <p class="lead">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid molestias.</p>
                                                <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                                <div class="row mt-30 mb-20">
                                                    <div class="col-sm-6">
                                                        <ul class="mt-10">
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Qualified Doctors</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Emergency Service</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> General Medical</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul class="mt-10">
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Cardio Monitoring</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Outdoor Checkup</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> 24 Hour Service</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a class="btn btn-lg btn-dark btn-theme-colored" href="#">View Details</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="thumb">
                                                <img class="img-fullwidth" src="assets/front/images/services/2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab13">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="service-content ml-20 ml-sm-0">
                                                <h2 class="title mt-0">Neurology</h2>
                                                <p class="lead">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid molestias.</p>
                                                <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                                <div class="row mt-30 mb-20">
                                                    <div class="col-sm-6">
                                                        <ul class="mt-10">
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Qualified Doctors</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Emergency Service</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> General Medical</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul class="mt-10">
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Cardio Monitoring</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Outdoor Checkup</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> 24 Hour Service</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a class="btn btn-lg btn-dark btn-theme-colored" href="#">View Details</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="thumb">
                                                <img class="img-fullwidth" src="assets/front/images/services/3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab14">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="service-content ml-20 ml-sm-0">
                                                <h2 class="title mt-0">Dental</h2>
                                                <p class="lead">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid molestias.</p>
                                                <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                                <div class="row mt-30 mb-20">
                                                    <div class="col-sm-6">
                                                        <ul class="mt-10">
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Qualified Doctors</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Emergency Service</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> General Medical</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul class="mt-10">
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Cardio Monitoring</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Outdoor Checkup</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> 24 Hour Service</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a class="btn btn-lg btn-dark btn-theme-colored" href="#">View Details</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="thumb">
                                                <img class="img-fullwidth" src="assets/front/images/services/4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab15">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="service-content ml-20 ml-sm-0">
                                                <h2 class="title mt-0">Hemtology</h2>
                                                <p class="lead">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid molestias.</p>
                                                <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                                <div class="row mt-30 mb-20">
                                                    <div class="col-sm-6">
                                                        <ul class="mt-10">
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Qualified Doctors</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Emergency Service</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> General Medical</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul class="mt-10">
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Cardio Monitoring</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> Outdoor Checkup</li>
                                                            <li class="mb-10"><i class="fa fa-medkit text-theme-colored font-15"></i> 24 Hour Service</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a class="btn btn-lg btn-dark btn-theme-colored" href="#">View Details</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="thumb">
                                                <img class="img-fullwidth" src="assets/front/images/services/5.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
        {% endblock %}
