{% extends '::/AdminBase.html.twig' %}
 {% block title %}
     Modifier  Service
 {% endblock title %}
 {% block titleP %}
     Modifier Service
 {% endblock %}
{% block body %}
    <div class="card-body" id="bar-parent">
        <form method="post">
            <div class="form-body">
            <div class="form-group row">
                <label class="control-label col-md-3">Name
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    <input type="text"  name="nom" data-required="1" placeholder="enter nom" value="{{ service.nom }}" class="form-control input-height"> </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">Description
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    <input type="text" name="description" data-required="1" placeholder="enter Description" value="{{ service.description }}" class="form-control input-height"> </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">Tarif
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    <input type="text" name="tarif" data-required="1" placeholder="enter marque" value="{{ service.tarif }}" class="form-control input-height"> </div>
            </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="offset-md-3 col-md-5">
                            <button type="submit" value="submit" name="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </div>
                </div>
        </div>
        </form>

    </div>

{% endblock %}
