{% extends '::/base.html.twig' %}
{% block content %}
<div class="row">
    <div class="col-xs-1">

    </div>
    {% for s in service %}
    <div class="col-xs-9 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30 wow fadeInRight animation-delay1" style="visibility: visible;">
        <div class="pricing-table style1 bg-white border-10px text-center">
            <div class="pricing-icon">
                <i class="flaticon-medical-stethoscopes"></i>
            </div>
            <div class="p-40">
                <h3 class="package-type mt-90">{{ s.nom |upper }}</h3>
                <p>{{ s.description }}</p>
                <h2 class="price text-theme-colored mb-10">{{ s.tarif }}<span class="font-48">$</span></h2>

                <a class="btn btn-colored btn-theme-colored text-uppercase mt-30" href="#">Prendre un Rendez vous</a><br>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}