{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produitsalledesport</h1>

    <table>
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ produitSalledesport.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produitsalledesport_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
