
{% extends '::/AdminBase.html.twig' %}
        {% block title %}
                Acceder a vos fiches patient
        {% endblock title %}

        {% block body %}
                <div class="row">
            {%for a in fiches %}
                        <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6">
                                <div class="blogThumb">
                                        <div class="thumb-center"><img class="img-responsive" alt="user" src="{{ asset('assets/back/img/blog/blog1.jpg')}}"></div>
                                        <div class="white-box">

                                                <h3 class="m-t-20 m-b-20">{{ a.idpatient }}</h3>
                                                <p>{{ a.suivie }}</p>
                                                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20"><a href={{ path('modifier',{'id':a.idFiche}) }}> mettre a jour</a></button>
                                        </div>
                                        </div>
                                </div>

            {% endfor %}
                </div>


        {% endblock body %}



