{% extends '::/AdminBase.html.twig' %}
        {% block title %}
            Créer une fiche patient
        {% endblock title %}

        {% block body %}
<form method="POST">
            <select name="pat">

                {% for p in patients %}
                    <option value={{ p.id }}>{{ p.nom }}</option>
                {% endfor %}
            </select>

            {{ form(form)}}
</form>

        {% endblock body %}

